:global {
  html {
    box-sizing: border-box;
  }
  *, :after, :before {
    box-sizing: inherit;
  }
  html,
  body, #root {
    height: 100%;
    background: #ECEEF2;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
  }
}
.base {
  display: flex;
  height: 100%;
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
